<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSourceMapping>
        <packageSource key="nuget.org" value="https://api.nuget.org/v3/index.json" >
            <package pattern="*" />
        </packageSource>

        <packageSource key="Microsoft Visual Studio Offline Packages">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>